<h1>Find Contacts</h1>
<%= search_form_for @search, url: contacts_path do |f| %>
<%= f.search_field :first_name_or_last_name_or_title_or_publication_cont, placeholder: 'Search by name, title or publication', class: 'form-control' %><%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>
<br>