<h1>Select list to add contact to:</h1>

<%= form_tag listings_path do %>
  <%= hidden_field_tag :contact_id, @contact.id %>
  <%= select_tag :list_id, options_from_collection_for_select(List.all, :id, :name), class: "form-control input-lg"  %></br>
  <%= submit_tag "Add to List", class: "btn btn-primary" %>
<% end %>